<!DOCTYPE html>
<html th:replace="~{/client/layout::view(~{::title},~{::main})}">
<head>
<meta charset="UTF-8">
<title>Trang chủ</title>
</head>
<body>
	
	<main>
		<div class="row" th:object="${product}">
			<div class="col-md-6">
				<img alt="" th:src="@{|/images/*{image}|}" class="card-img-top">
			</div>
			<div class="col-md-6">
				<div class="card" th:object="${product}">
				 	<div class="card-body">
				    <a th:href="@{|/san-pham/*{slug}|}"><h5 class="card-title" th:text="*{name}">Card title</h5></a>
				    <p class="card-text" th:text="*{#numbers.formatDecimal(price, 0, 'COMMA', 0, 'POINT') + ' đ'}"></p>
				    <a th:href="@{|/gio-hang/them-vao-gio/*{id}|}" class="btn btn-primary">Thêm vào giỏ hàng</a>
				    <a href="#" class="btn btn-secondary">Yêu thích</a>
				  </div>
				</div>
			</div>
			<div class="col-md-12">
				<h5>Mô tả sản phẩm</h5>
				<p class="card-text" th:text="*{description}"></p>
			</div>
		</div>
	</main>
</body>
</html>