<!DOCTYPE html>
<html th:fragment="view(title, content)">
<head>
<meta charset="UTF-8">
<title th:replace="${title}">Insert title here</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
<style type="text/css">
	.text-red{
		color:red !important;
	}
</style>
</head>
<body>
	<div class="container">
		<header>
			<h1>
				<img alt="" th:src="@{/images/logo.png}" width="150">
			</h1>
			<hr>
		</header>
		
		<nav class="navbar navbar-expand-lg bg-body-tertiary">
			<div class="container-fluid">
				
				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item" >
							<a class="nav-link" th:classappend="${active=='home'?'active':''}" aria-current="page" th:href="@{/}" th:text="#{menu.home}">Trang chủ</a>
						</li>
						<li class="nav-item" >
							<a class="nav-link" th:classappend="${active=='favorite'?'active':''}" aria-current="page" th:href="@{/yeu-thich}">Yêu thích</a>
						</li>
						<li class="nav-item">
							<a class="nav-link"  th:classappend="${active=='about'?'active':''}" th:href="@{/gioi-thieu}" th:text="#{menu.about}">Giới thiệu</a>
						</li>
						<li class="nav-item" >
							<a class="nav-link" th:classappend="${active=='contact'?'active':''}" th:href="@{/lien-he}" th:text="#{menu.contact}">Liên hệ</a>
						</li>
						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" href="#" role="button"
							data-bs-toggle="dropdown" aria-expanded="false" th:text="${account != null? '' : 'Tài khoản' }"> Tài khoản </a>
							<ul class="dropdown-menu">
								<th:block th:if="${account == null}">
									<li><a class="dropdown-item" th:href="@{/dang-ky}">Đăng ký</a></li>
									<li><a class="dropdown-item" th:href="@{/dang-nhap}">Đăng nhập</a></li>
									<li><a class="dropdown-item" th:href="@{/quen-mat-khau}">Quên mật khẩu</a></li>
								</th:block>
								<th:block th:if="${account != null}">
									<li><a class="dropdown-item" th:href="@{/thong-tin-ca-nhan}">Thông tin tài khoản</a></li>
									<li><a class="dropdown-item" th:href="@{/doi-mat-khau}">Đổi mật khẩu</a></li>
									<li><hr class="dropdown-divider"></li>
									<li><a class="dropdown-item" th:href="@{/dang-xuat}">Đăng xuất</a></li>
								</th:block>
							</ul></li>
						
					</ul>
					<form class="d-flex" role="search">
						<input class="form-control me-2" type="search"
							placeholder="Từ khóa" aria-label="Search" />
						<button class="btn btn-outline-success" type="submit">Tìm kiếm</button>
					</form>
				</div>
			</div>
		</nav>
		
		<main th:replace="${content}">
			
		</main>
		<footer>
			<p>@2026</p>
		</footer>
	</div>
</body>
</html>