<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/admin/layout::view(~{::title},~{::main} )}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<main>
		<h3 class="text-center text-primary">Danh sách loại sản phẩm</h3>
		<a th:href="@{/admin/categories/add}" class="btn btn-primary float-end">Thêm mới</a>
		<table class="table">
		  <thead>
		    <tr>
		      <th scope="col">#Id</th>
		      <th scope="col">Tên</th>
		      <th scope="col">Slug</th>
		      <th scope="col">Trạng thái</th>
		      <th scope="col" width="15%">Hành động</th>
		    </tr>
		  </thead>
		  <tbody>
		  	<th:block  th:each="cate:${list}">
			    <tr th:object="${cate}">
			      <th scope="row" th:text="*{id}">  </th>
			      <td th:text="*{name}">Mark</td>
			      <td th:text="${cate.slug}">Otto</td>
			      <td th:text="${cate.active?'Hoạt động':'Ngưng hoạt động'}">Otto</td>
			      <td>
			      	<a th:href="@{|/admin/categories/edit/*{id}|}" class="btn btn-success">Sửa</a>
			      	<a th:href="@{|/admin/categories/delete/*{id}|}" class="btn btn-danger">Xóa</a>
			      </td>
			    </tr>
		    </th:block>
		  </tbody>
		</table>
		<nav aria-label="Page navigation example">
		  <ul class="pagination">
		    <li class="page-item" th:classappend="${page.first?'active':''}"><a class="page-link" th:href="@{/admin/categories}">First</a></li>
		    <li class="page-item"><a class="page-link" th:href="@{|/admin/categories?pageNum=${page.number - 1}|}">Previous</a></li>
		    <li class="page-item"><a class="page-link" th:href="@{|/admin/categories?pageNum=${page.number + 1}|}">Next</a></li>
		    <li class="page-item" th:classappend="${page.last?'active':''}"><a class="page-link" th:href="@{|/admin/categories?pageNum=${page.totalPages - 1}|}">Last</a></li>
		  </ul>
		</nav>
	</main>
</body>
</html>